*{
padding: 0;
margin: 0;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
background-color: #001;
display: flex;
}
.img-box{
width: 50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
border: solid 3px;
flex-shrink: 0;
}
.img-box img{
width: 100%;
}
.profile{
display: flex;
align-items: center;
gap: 30px;
}
.profile h2{
font-size: 20px;
text-transform: capitalize;
}
.menu{
background-color: #123;
width: 60px;
height: 100vh;
padding: 20px;
overflow: hidden;
transition: .5s;
}
.menu:hover{
width: 260px;
}
ul{
  list-style: none;
position: relative;
height: 95%;
}
ul li a{
display: block;
text-decoration: none;
padding: 10px;
margin: 10px 0px;
border-radius: 8px;
display: flex;
align-items: center;
gap: 40px;
transition: .5s;
}
ul li a:hover, .active, .date-info .box:hover , td:hover{
  background-color: #ffffff55;
}
.log-out{
position: absolute;
bottom: 0;
width: 100%;
}
.log-out a{
background-color: red;
}
ul li a i{
color: rgb(0, 255, 255);
font-size: 30px;
}
.content{

  
  width: 100%;
  margin: 10px;
}
.title-info{
  background-color: blue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 10px 0px;
}
.date-info{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
gap: 10px;
}
.date-info  .box{
background-color: #123;
height: 150px;
flex-basis: 150px;
flex-grow: 1;
border-radius: 8px 6px 10px 20px;
display: flex;
align-items: center;
justify-content: space-around;
}
.date-info .box i{
font-size: 40px;
}

.date-info .box .date{
text-align: center;
}
.date-info .box .date span{
  font-size: 30px;
}
table{
width: 100%;
text-align: center;
border-spacing: 8px;

}
td, th{
  background: rgb(107, 109, 209);
  height: 40px;
  border-radius: 10px;

}

th{
  background-color: rgb(129, 84, 54);
}
.price, .count{
  padding: 6px;
  border-radius: 6px;
}
.price{
  background-color: greenyellow;
}
.count{
  background-color: brown;
}


